@model Blue_Ribbon.Models.Customer

@using (@Html.BeginForm("ContactForm", "Dashboard", FormMethod.Post, new { @id = "contactform" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Hidden("userid",User.Identity.Name)
    @Html.Hidden("name", Model.FullName)

        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.CheckBox("reviewedItem",false)
                    I reviewed an item, but it's still showing that I need to review it.
                    @Html.TextBox("reviewedItemASIN",null,new { @placeholder = "Enter item ID..."})
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.CheckBox("discountNeeded", false)
                    It keeps telling me the discount code is not available.
                    @Html.TextBox("discountNeededASIN", null, new { @placeholder = "Enter item ID..." })
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-group">
                <div class="col-md-12 textareabox">
                    @Html.TextArea("message", new { @placeholder = "Send us a message...!" , @rows = 5 })
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-group">
                <div class="col-md-12 emailbox">
                    Current Email Address: @Html.TextBox("email", Model.Email, new { @placeholder = Model.Email })
                </div>
            </div>
        </div>
}


